<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  </head>
  <body>
    <h1>Edit</h1>
    <table class="table-title" data-id="">
      <thead>
        <tr>
          <td class="td2">barcode</td>
          <td class="td3">brand</td>
          <td class="td4">product</td>
          <td class="td5"></td>
        </tr>
      </thead>
      <tbody id="item-list" class="no-pdl"></tbody>
    </table>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/edit.js"></script>
</html>
